<footer class="border-top">
    <div class="f-info">
        <p>&copy; 2024 Staycation, Inc</p>
    </div>
    <div class="f-socials">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-square-x-twitter"></i>
    </div>
    <div class="f-info-links">
        <a href="">Privacy</a>
        <a href="">Terms</a>
        <a href="">Sitemap</a>
    </div>
</footer>