<% layout("layout/boilerplate") %>

    <body>

        <div class="row">
            <div class="col-8 offset-2">
                <br>
                <h2>Create a New Listing</h2>
                <br>
                <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div>
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" class="form-control" placeholder="Enter title..."
                            required>
                        <div class="valid-feedback">
                            Title Looks good!
                        </div>
                    </div>

                    <div>
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" class="form-control" placeholder="Enter Details..."
                            rows="10" cols="30" required></textarea><br>
                        <div class="invalid-feedback">
                            Enter Valid Description!
                        </div>
                    </div>

                    <div>
                        <label for="listing[image]" class="form-label">Upload Image</label>
                        <input type="file" name="listing[image]" class="form-control" >
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="listing[price]" class="form-control" placeholder="Enter price..."
                                required>
                                <div class="invalid-feedback">
                                    Enter Valid Price!
                                </div>
                        </div>


                        <div class="col-md-8">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" name="listing[location]" class="form-control"
                                placeholder="Enter location..." required>
                                <div class="invalid-feedback">
                                    Enter Valid Location!
                                </div>
                        </div>
                    </div>

                    <div>
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" class="form-control" placeholder="Enter country..."
                            required>
                            <div class="invalid-feedback">
                                Enter Valid Country!
                            </div>
                    </div>
                    <br>
                    <br>
                    <button class="btn btn-dark">Add</button>
                    <br>
                    <br>
                    <br>
                </form>
            </div>
        </div>

    </body>